<% for (let img of items) {%>

<div class="alert-image-box">
  <p class="alert-title">User Name:</p>
  <p class="alert-text"><%=img.username %></p>
  <img class="alert-image" src="<%=img.desc %>" />
  <p class="alert-title">Location:</p>
  <p class="alert-text"><%=img.location %></p>
  <p class="alert-title">About Image:</p>
  <p class="alert-text"><%=img.comment %></p>
  <p></p>
</div>

<% } %>
