<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/animals.js" defer></script>
    <script src="/scripts/scripts.js" defer></script>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap"
    rel="stylesheet"
  />
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <link
  rel="icon"
  href="https://api.iconify.design/fluent:animal-turtle-28-regular.svg?color=%2300a34f"
/>
    <title>What Wild Animal am I?</title>
  </head>
  <body>
    <script
    src="https://kit.fontawesome.com/4a2896f25a.js"
    crossorigin="anonymous"
  ></script>
  <title>ALERTLE</title>
</head>
<body>
  <header>
    <nav>
      <!--nav svg background-->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        id="visual"
        version="1.1"
        viewBox="0 0 1500 173.91"
      >
        <path
          d="M0 143L25 145C50 147 100 151 150 149.5C200 148 250 141 300 142.3C350 143.7 400 153.3 450 158C500 162.7 550 162.3 600 155.7C650 149 700 136 750 138C800 140 850 157 900 165.7C950 174.3 1000 174.7 1050 173.3C1100 172 1150 169 1200 157.2C1250 145.3 1300 124.7 1350 116.8C1400 109 1450 114 1475 116.5L1500 119L1500 0L1475 0C1450 0 1400 0 1350 0C1300 0 1250 0 1200 0C1150 0 1100 0 1050 0C1000 0 950 0 900 0C850 0 800 0 750 0C700 0 650 0 600 0C550 0 500 0 450 0C400 0 350 0 300 0C250 0 200 0 150 0C100 0 50 0 25 0L0 0Z"
          fill="#f4e231"
        />
        <path
          d="M0 101L25 100.3C50 99.7 100 98.3 150 106C200 113.7 250 130.3 300 133.5C350 136.7 400 126.3 450 125.8C500 125.3 550 134.7 600 134.5C650 134.3 700 124.7 750 114.7C800 104.7 850 94.3 900 93.5C950 92.7 1000 101.3 1050 108.2C1100 115 1150 120 1200 122.7C1250 125.3 1300 125.7 1350 122C1400 118.3 1450 110.7 1475 106.8L1500 103L1500 0L1475 0C1450 0 1400 0 1350 0C1300 0 1250 0 1200 0C1150 0 1100 0 1050 0C1000 0 950 0 900 0C850 0 800 0 750 0C700 0 650 0 600 0C550 0 500 0 450 0C400 0 350 0 300 0C250 0 200 0 150 0C100 0 50 0 25 0L0 0Z"
          fill="#fdba08"
        />
        <path
          d="M0 60L25 67.3C50 74.7 100 89.3 150 96.8C200 104.3 250 104.7 300 97.5C350 90.3 400 75.7 450 71.8C500 68 550 75 600 82.7C650 90.3 700 98.7 750 99.3C800 100 850 93 900 87.2C950 81.3 1000 76.7 1050 71.7C1100 66.7 1150 61.3 1200 60C1250 58.7 1300 61.3 1350 63.8C1400 66.3 1450 68.7 1475 69.8L1500 71L1500 0L1475 0C1450 0 1400 0 1350 0C1300 0 1250 0 1200 0C1150 0 1100 0 1050 0C1000 0 950 0 900 0C850 0 800 0 750 0C700 0 650 0 600 0C550 0 500 0 450 0C400 0 350 0 300 0C250 0 200 0 150 0C100 0 50 0 25 0L0 0Z"
          fill="#ff8f00"
        />
        <path
          d="M0 65L25 62C50 59 100 53 150 52.2C200 51.3 250 55.7 300 58.2C350 60.7 400 61.3 450 55.2C500 49 550 36 600 31.5C650 27 700 31 750 34.5C800 38 850 41 900 46C950 51 1000 58 1050 55.8C1100 53.7 1150 42.3 1200 39.5C1250 36.7 1300 42.3 1350 43.2C1400 44 1450 40 1475 38L1500 36L1500 0L1475 0C1450 0 1400 0 1350 0C1300 0 1250 0 1200 0C1150 0 1100 0 1050 0C1000 0 950 0 900 0C850 0 800 0 750 0C700 0 650 0 600 0C550 0 500 0 450 0C400 0 350 0 300 0C250 0 200 0 150 0C100 0 50 0 25 0L0 0Z"
          fill="#ff5d00"
        />
      </svg>
      <div class="hamburger-icon"><i class="fas fa-bars"></i></div>
      <ul class="nav-ul">
        <li><a href="/">Home</a></li>
        <li><a href="/alerts">Alerts</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/login-signup">Login/Signup</a></li>
        
      </ul>
    </nav>
    <!--Logo img-->
    <div class="logo-div">
      <img class="alertle-logo" src="/images/alertle-crop.svg" />
      <h1>Animal Quiz</h1>
    </div>
  </header>
    <!-- <div id="quiz"></div>
    <button id="submit">Submit Quiz</button>
    <div id="results"></div>-->
<main>
    <div class="animal-quiz-div">
      <div id="header"><h1>Which Wild MA Animal Am I?</h1></div>
      
      <!-- Q1 -->
      <div class="question one">
      <form id="form1">
        <p>1.) What is your preferred method of travel?</p>
        <label
          ><input
            type="radio"
            name="travel"
            id=""
            value="walking"
          /> walking</label
        >
        <label
          ><input type="radio" name="travel" id="" value="spoon" /> flying</label
        >
        <label
          ><input
            type="radio"
            name="travel"
            id=""
            value="swimming"
          /> swimming</label
        >
        <label
          ><input
            type="radio"
            name="travel"
            id=""
            value="scurrying"
          /> scurrying</label
        >
      </div>
        <!-- Q2 -->
        <div class="question two">
        <p>2.) What's your diet like?</p>
        <label
          ><input type="radio" name="diet" id="" value="garbage" /> I like to eat
          garbage</label
        >
        <label
          ><input type="radio" name="diet" id="" value="veg" /> Vegetarian/
          vegan</label
        >
        <label
          ><input type="radio" name="diet" id="" value="meat" /> I eat a lot of
          meat</label
        >
        <label
          ><input type="radio" name="diet" id="" value="whatever" /> I'll eat
          whatever tastes good</label
        >
        </div>
        <!-- Q3 -->
        <div class="question three">
        <p>3.) How are your sleeping habits?</p>
        <label
          ><input type="radio" name="sleep" id="" value="morning" /> I'm a
          morning person</label
        >
        <label
          ><input type="radio" name="sleep" id="" value="night" /> I'm a huge
          night person</label
        >
        <label
          ><input type="radio" name="sleep" id="" value="whenever" /> Varies,
          I catch sleep when I can</label
        >
        </div>
        <!-- Q4 -->
        <div class="question four">
        <p>4.) How scary do people find you?</p>
        <label
          ><input type="radio" name="scary" id="" value="very" /> Very scary, i'm
          pretty intimdating</label
        >
        <label
          ><input type="radio" name="scary" id="" value="kinda" /> Kinda scary,
          but I'm mostly harmless</label
        >
        <label
          ><input type="radio" name="scary" id="" value="annoying" /> I'm not so
          much scary as I am annoying</label
        >
        <label
          ><input type="radio" name="scary" id="" value="not" /> Not scary at
          all, not in the slightest</label
        >
        </div>
        <!-- Q5 -->
        <div class="question five">
        <p>5.) How would you describe your general temperament?</p>
        <label
          ><input type="radio" name="temper" id="" value="cranky" /> Very cranky,
          don't mess with me</label
        >
        <label
          ><input
            type="radio"
            name="temper"
            id=""
            value="grumpy"
          />grumpy</label
        >
        <label
          ><input type="radio" name="temper" id="" value="startled" /> Easily
          startled</label
        >
        <label
          ><input type="radio" name="temper" id="" value="chill" /> Chill</label
        >
        </div>
        <!-- Q6 -->
        <div class="question six">
        <p>6.) What's your favorite season?</p>
        <label
          ><input
            type="radio"
            name="season"
            id=""
            value="spring"
          /> Spring!</label
        >
        <label
          ><input
            type="radio"
            name="season"
            id=""
            value="summer"
          /> Summer!</label
        >
        <label
          ><input type="radio" name="season" id="" value="fall" />Fall!</label
        >
        <label
          ><input
            type="radio"
            name="season"
            id=""
            value="winter"
          /> Winter!</label
        >
        </div>
        <!-- Q7 -->
        <div class="question seven">
        <p>7.) Which is your favorite activity?</p>
        <label
          ><input
            type="radio"
            name="activity"
            id=""
            value="sleeping"
          /> Sleeping</label
        >
        <label
          ><input
            type="radio"
            name="activity"
            id=""
            value="scream"
          /> Screaming</label
        >
        <label
          ><input
            type="radio"
            name="activity"
            id=""
            value="eating"
          /> Eating</label
        >
        <label
          ><input
            type="radio"
            name="activity"
            id=""
            value="sneaking"
          />Sneaking</label
        >
        </div>
        <!-- Q8 -->
        <div class="question eight">
        <p>8.) PICK A COLOR</p>
        <label
          ><input type="radio" name="color" id="" value="brown" /> brown</label
        >
        <label
          ><input type="radio" name="color" id="" value="green" /> green</label
        >
        <label
          ><input type="radio" name="color" id="" value="white" /> white</label
        >
        <label><input type="radio" name="color" id="" value="red" /> red</label>
        </div>

        <!-- Q9 -->
        <div class="question nine">
        <p>9.) How smart are you?</p>
        <label
          ><input type="radio" name="smart" id="" value="genius" /> So smart,
          like genius-level</label
        >
        <label
          ><input type="radio" name="smart" id="" value="smart" /> smart
          enough</label
        >
        <label
          ><input type="radio" name="smart" id="" value="average" /> average
          intellegence</label
        >
        <label
          ><input type="radio" name="smart" id="" value="dumb" /> Dumb. Big
          stupid. Head empty</label
        >
        </div>
        <!-- Q10 -->
        <div class="question ten">
        <p>10.) How social are ya?</p>
        <label
          ><input type="radio" name="social" id="" value="social" /> I'm a social
          butterfly! Love to be around others</label
        >
        <label
          ><input type="radio" name="social" id="" value="friends" /> I like
          hangin with a small group of close friends best</label
        >
        <label
          ><input type="radio" name="social" id="" value="few" /> I have a few
          friends, spend a lot of time with my partner</label
        >
        <label
          ><input type="radio" name="social" id="" value="none" /> Loner status,
          maybe a partner if I feel like it</label
        >
        </div>
        <button class="quiz-button" type="submit" value="Submit"> Submit</button>
      </form>
    </main>

      <p id="response">You got <span id="answer"></span></p>
      <!-- Collection of hidden feedback options to be shown upon submit button -->
      <div class ="quiz-img hide" id="bat"><img src="/images/brown-bat.jpg" /><p>Little Brown Bat! </p><p>You got Little Brown Bat! You are smoll, cute, but also a little scary. Enjoy a good nightime scream. These bats are endangered, and live for about 6.5 years on average.</p></div>
      <div class ="quiz-img hide" id="beaver"><img src="/images/beaver.jpg" /><p>Beaver!</p><p>You got Beaver! You are a semi-aquatic rodent, the 2nd largest rodent after the Capybara! Beavers are found in freshwaters like rivers and lakes. They are herbavores, eating tree bark, grass and aquatic plants. Beavers HATE the sound of water running water. Something about it drives their brains insane with the urge to build a damn. Scientists have simply played the sound of running water in an area, and beavers will build a damn there. PRANKED</p></div>
      <div class ="quiz-img hide" id="raccoon"><img src="/images/raccoon.jpg" /><p>Raccoon!</p><p>You got Raccoon! Also called the common raccoon, you have incredibly dexterous front paws, which you use to tenderly wash and eat any tasty treats you come across. Not opposed to digging in the garbage, usually under the cover of night. It's illegal to own a raccoon as a pet in MA, but not in Rhode island, for whatever reason.</p></div>
      <div class ="quiz-img hide" id="fox"><img src="/images/red-fox.jpg" /><p>Red fox!</p><p>You got Red Fox! Red foxes are usually together in pairs or small groups consisting of families. The species primarily feeds on small rodents, though it may also target rabbits, squirrels, game birds, reptiles, and even some fruit/vegitable matter </p></div>
      <div class ="quiz-img hide" id="skunk"><img src="/images/skunk.jpg" /><p>Skunk!</p><p>You got Skunk! Cute but scary, because of your powerful stinky butt-spray. Usually solitary animals when not breeding. Omnivores, and enjoy a good scavenge through garbage. Excellent sense of smell and hearing, but poor eyesight. Can live to up to about 7 years in the wild, but most only live for up to a year. It's a rough world out there for a little stinker</p></div>
      <div class ="quiz-img hide" id="squirrel"><img src="/images/squirrel.jpg" /><p>Squirrel!</p><p>You Got Squirrel! Cute, sneaky, a little bit of a menace. Your front teeth never stop growing, and sometimes you use yours to cause major power failures.  </p></div>
      <div class ="quiz-img hide" id="deer"><img src="/images/deer.jpg" /><p>Deer!</p><p>You got White-tail Deer! You're a bit shy, preferring to live alone or in small groups. You can run 30 miles an hour and jump higher than 8 feet! Impressive. </p></div>
      <div class ="quiz-img hide" id="bunny"><img src="/images/bunny.jpg" /><p>Bunny!</p><p> You got Bunny! You know the world can be a scary place, so you tend to freeze or run when you feel the need. You have 17,000 tastebuds, compared to humans who have 10,000. All those greens you eat must have an incredible flavor. </p></div>
      <div class ="quiz-img hide" id="woodchuck"><img src="/images/woodchuck.jpg" /><p>Woodchuck!</p><p>you got Woodchuck! Also called a Groundhog, but that name is a bit rude don't you think? You live in extensive burrows that are two-six feet deep and up to 40 feet long. You love fresh veggies and flowers </p></div>
      <div class ="quiz-img hide" id="eagle"><img src="/images/bald-eagle.jpg" /><p>Bald Eagle!</p><p>You got Bald Eagle! Something about being a symbol of America. Things went bad for you in the 1950s-60's with DDT pesticides, but hey it's getting better! You are cool as heck so don't let anyone get ya down.</p></div>
      <div class ="quiz-img hide" id="seagull"><img src="/images/seagull.jpg" /><p>Gull!</p><p>You got Gull! People call you a seagull, but thats actually a misnomer. You do love hanging out by the shore. MA hosts a variety of gull species, all of which are very good at screaming and stealing snacks from right out of your hands. Not the brightest animal around, but you can fly so who cares about the opinions of the wing-less?</p></div>
      <div class ="quiz-img hide" id="owl"><img src="/images/barn-owl.jpg" /><p>Barn Owl!</p><p>You got Barn Owl! You have long legs and a distinctive "monkey-face." You are very elusive and nocturnal, obviously very few deserve to see your beauty. Typically found hunting around open coastal marshes at night, and roosting in old barns, haylofts, or natural tree cavities. </p></div>
      <div class ="quiz-img hide" id="moth"><img src="/images/luna-moth.jpg" /><p>Luna Moth!</p><p>You got Luna Moth! There are over 1,000 species of moth in MA, but you are by far one of the most gorgeous. From a chunky green caterpillar that forms a cocoon from leaves, you sleep all winter and emerge in the spring with only one thing on your mind: REPRODUCTION. Luna moths don't have mouths, and they live only a few weeks after emerging. All that time is spent searching for a mate and laying eggs. It was a long lonely winter in that cocoon huh?</p></div>
      <div class ="quiz-img hide" id="geese"><img src="/images/geese.jpg" /><p>Geese!</p><p>You got Canada Goose! Geese! Whatever. You are a common sight, and you have all the sass it takes to survive even in the city. You love hissing at people that get too close, honking, and walking very slowly in front of cars because what care do you have about human schedules? Freshly hatched goslings are born able to walk, swim and feed themselves.</p></div>
      <div class ="quiz-img hide" id="turkey"><img src="/images/turkey.jpg" /><p>Turkey!</p><p>You got Turkey! Gobble gobble indeed. Did you know human activity by early European settlers killed basically all of your kind? Really uncool. Last known Turkey was killed in 1851. It wasn't until 1972 that the Mass wildlife org live-trapped turkeys from NY state and released them in MA. It worked, and now there are over 20,000 wild turkeys here. Thanksgiving is a more messed up holiday than we already thought huh?</p></div>
      <div class ="quiz-img hide" id="butterfly"><img src="/images/monarch-butterfly.jpg" /><p>Monarch Butterfly!</p><p>You got Monarch Butterfly! You are beloved by many, and for good reason. Besides being gorgeous, you are a incredible pollinator, and you visit at least 33 diffferent flower species. Every generation of migrating monarchs has a SUPER GENERATION that emerges with larger wings and makes the long journey back to mexico to over-winter. Incredibly cool stuff. </p><p></p></div>
      <div class ="quiz-img hide" id="coyote"><img src="/images/coyote.jpg" /><p>Coyote!</p><p>You got Coyote! You are very adaptive, managing to find a way to live both in rural areas and even the suburbs of Boston. You are wary of humans, and like to keep to yourself. You eat deer, mice, woodchucks, rabbits, squirrels, birds and even bugs. Not a picky eater at all.</p></div>
      <div class ="quiz-img hide" id="dove"><img src="/images/dove.jpg" /><p>Mourning Dove!</p><p>You got Mourning Dove! You were named for your distinct cooing sounds. Beautifully plump, with a dainty little bobble-head walk. Commonly seen in large flocks when not breeding or nesting. Sometimes you make questionable choices about where to have your nest. While you're commonly hunted across the US, good ol Massachusetts has your back and lists you as a protected animal.</p></div>
      <div class ="quiz-img hide" id="swan"><img src="/images/swan.jpg" /><p>Swan!</p><p>You got Swan! Honestly, an icon. Beautiful, graceful, all the sass of a goose but somehow classier. You usually mate for life, but have been known to divorce if there are breeding issues. When you're that gorgeous, you really wanna make some cute babies. </p></div>
      <div class ="quiz-img hide" id="mouse"><img src="/images/mouse.jpg"/><p>Field Mouse!</p> <p>You got Field Mouse! Really cute and tiny, but have kind of a bad reputation. You love to break and enter into warm and cozy places, and MA residents aren't so keen on your destructive tendancies. Maybe try and work on the whole "carrying diseases around" thing. Still heckin cute tho. </p></div>
      <div class ="quiz-img hide" id="snapper"><img src="/images/snapping-turtle.jpg"/><p>Snapping Turtle!</p><p>You got Snapping Turtle! You are a bit dangerous, and you let anyone who gets too close know it. There are 10 species of snapping turtle in MA, and they're all ready to chomp at a moments notice.</p> </div>
      <div class ="quiz-img hide" id="turtle"><img src="/images/turtle.jpg"/><p>Turtle!</p><p>You got Painted Turtle! You love the water, and will spend up to six hours a day sunbathing near a shallow area. You love to snack on a variety of aquatic plants, bugs, small fish and snails. You have a hard shell that protects you from most predators. During the winter you hibernate in the mud, is it cozy? </p> </div>
      <div class ="quiz-img hide" id="snake"><img src="/images/snake.jpg"/><p>Garter Snake!</p><p>You got Garter Snake! Snakes are scary to lots of humans, but you are as cute and harmless. You have a varied diet and are super adaptable to different habitats, but prefer to live somewhat close to water, cause amphibians like frogs are really your fave thing to eat. Carnivore all the way. You use your tongue to flick pheromones and communicate with other snakes that way.</p></div>
      <div class ="quiz-img hide" id="salamander"><img src="/images/salamander.jpg"/><p>Spotted salamander!</p><p>You got Spotted Salamander! Lets be honest, you are a weird little creature. You live in forested areas, close to water sources. You have smooth glossy deep brown or black skin. Kids love to look for you under rocks and chunks of rotting wood. You like to hide underground, so you're not too easy to find, and that's how you prefer it. You hunt at night, with a long sticky tongue you lash out at small fish, worms, insects, slugs, snails and spiders.</p> </div>
      <div class ="quiz-img hide" id="frog"><img src="/images/frog.jpg"/><p>Frog!</p> <p>You got Green Frog! One of the most familiar frogs, found statewide. You prefer to be in the water, eating up a storm and making a "gunk" sound while you do it. You'll seriously eat whatever, from insects to snakes to birds and EVEN OTHER FROGS. Female frogs are usually larger than males and can lay over a thousand slimy eggs at a time.</p></div>
    <!-- </span></p> -->
    </div>
  </body>
</html>
