:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-high: 0px 0.5px 0.5px hsl(var(--shadow-color) / 0.5),
    0px 1.7px 1.6px -0.5px hsl(var(--shadow-color) / 0.46),
    0px 3.4px 3.1px -1.1px hsl(var(--shadow-color) / 0.41),
    0.1px 6.4px 5.9px -1.6px hsl(var(--shadow-color) / 0.37),
    0.1px 11.7px 10.8px -2.2px hsl(var(--shadow-color) / 0.32),
    0.2px 20px 18.5px -2.7px hsl(var(--shadow-color) / 0.28),
    0.4px 32.3px 29.8px -3.3px hsl(var(--shadow-color) / 0.24),
    0.6px 49.3px 45.5px -3.8px hsl(var(--shadow-color) / 0.19);

  --font: "Supermercado One", cursive;
  --font-2: "Varela Round", sans-serif;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

nav {
  width: 100vw;
  height: auto;
}

li {
  list-style-type: none;
}

li,
a,
span {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--font);
}

li a:hover {
  text-shadow: 1px 1px #1944ff;
  text-decoration: underline;
}

.hamburger-icon {
  color: white;
  font-size: 2.5rem;
  /* makes the icon visible over the header bg and centered */
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 94%;
  margin: auto;
  width: 100%;
}
.nav-ul {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 93%;
  /* background-color: red; */
  width: 100vw;
  height: auto;
  /* margin-top: 1rem; */
}

/* Main content  */

h1 {
  font-family: var(--font);
  font-size: 2rem;
  text-align: center;
}

.logo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100vw;
}

.alertle-logo {
  width: 80vw;
  height: auto;
  margin: auto;
}

.logo-div h1 {
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
  color: rgb(75, 75, 75);
}

.flex {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin: auto;
  height: auto;
}

.main-content-div {
  /*flex parent to left + right flex divs*/
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: auto;
  margin: auto;
}

.left-div {
  display: block;
  justify-content: center;
  width: 50vw;
  flex-basis: auto;
}

.right-div {
  display: flex;
  flex-direction: center;
  justify-content: right;
  width: 50vw;
  height: auto;
  flex-basis: auto;
  box-shadow: var(--shadow-elevation-high);
}

.alert-image {
  display: flex;
  width: 300px;
  height: auto;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.alert-image-box {
  width: 400px;
  height: auto;
  background: linear-gradient(90deg, rgb(216, 0, 126), #ff633c, #e9ff27);
  margin: auto;
  border-radius: 5px;
  margin-top: 1rem;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}
/* .map-img {
  margin: auto;
  width: 60%;
  height: auto;
  border-radius: 15%;
} */

.hide {
  display: none;
}

#container {
  width: 100%;
}
#canvas3d {
  width: 100%;
}

/* fancy button styling */

.main-button {
  position: absolute;
  left: 42%;
  top: 29%;
  margin: auto;
  margin-top: 15rem;
  cursor: pointer;
  width: 10em;
  height: 5rem;
  font-size: 2rem;
  border-radius: 5px 20px 5px;
  /* border-color: #1d67ff; */
  background: linear-gradient(90deg, rgb(216, 0, 126), #ff633c, #e9ff27);
  text-shadow: 1px 1px #1944ff;
  font-family: var(--font);
  box-shadow: var(--shadow-elevation-high);
}

.btn-2 {
  color: white;
}
.btn-2:hover {
  animation: stripes-move 0.95s infinite linear;
  background: repeating-linear-gradient(
    45deg,
    #82f6d8 0,
    #dcfff6 0.25em,
    transparent 0.25em,
    transparent 0.5em
  );
  color: #3c60ff;
}
@keyframes stripes-move {
  100% {
    background-position: 5em 0px;
  }
}

/* alerts page */
.alerts {
  background: radial-gradient(#f5bc1f, #fd7b01);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 3rem;
  padding: 2rem;
  height: 90vh;
  width: 90vw;
}

.placeholder {
  width: 60vw;
  height: 60vh;
}

.alerts-button {
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(255, 145, 1);
  margin: auto;
  margin-top: 1.2rem;
  font-family: var(--font-2);
  font-weight: 800;
}

.purple {
  color: #7604aa;
}

.alerts-button:hover {
  background-color: rgb(0, 230, 77);
}
.alert-title {
  font-family: var(--font);
  margin: 1rem;
  color: white;
}
.alert-text {
  font-family: var(--font-2);
  margin: 1rem;
}

/* About page */

.self-pic {
  display: block;
  max-width: 15rem;
  height: auto;
  border-radius: 3rem;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  margin: auto;
}

.about {
  display: block;
  background: radial-gradient(#ffb3c7, #ff028d);
  padding: 2rem;
  border-radius: 3rem;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  font-family: var(--font);
  font-size: larger;
  margin: auto;
  margin-bottom: 1rem;
  min-width: 450px;
  max-width: 40vw;
}

.about a:hover {
  text-decoration: underline;
  color: #7604aa;
  font-weight: 800;
}
.about a {
  font-size: large;
}

.quiz-link {
  font-size: x-large;
  margin-bottom: 1rem;
}

/* resources page */

.resources {
  display: flex;
  flex-direction: column;
  background: radial-gradient(#1fe4f5, #0166fd);
  padding: 2rem;
  border-radius: 3rem;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.subtext {
  margin: 1rem;
  font-size: 1rem;
  color: #001763;
}

.resources a:hover {
  color: #13cc1d;
}

/* CONTACT PAGE  */

h3 {
  font-family: var(--font);
  font-size: 2rem;
  margin-bottom: 1rem;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #7604aa;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  margin: auto;
}

input[type="submit"]:hover {
  background-color: #13cc1d;
}

.contact-p {
  color: white;
}

.contact-form {
  border-radius: 5px;
  background: radial-gradient(#ff88e5, #ff5edc);
  padding: 2rem;
  margin: auto;
  font-family: var(--font);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}
label {
  margin-right: 1.5rem;
}
/* ANIMAL QUIZ PAGE */

.animal-quiz-div {
  margin: auto;
  width: 80vw;
}

#header {
  margin-top: 0;
  border: 2px solid rgb(21, 255, 0);
  padding: 5px;
  padding-top: 50px;
  height: 150px;
}

.alertle-head {
  width: 21%;
  height: auto;
  margin: auto;
}
#response {
  display: none;
}

label {
  width: 10vw;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.quiz-button {
  display: block;
  margin-top: 20px;
}

.quiz-img > img {
  width: 30vw;
  height: auto;
  margin: auto;
}
.question {
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
}

.question p {
  font-family: var(--font);
  font-weight: 700;
}
.question.one {
  background-color: #1fe4f5;
}
.question.two {
  background-color: #8071ff;
}
.question.three {
  background-color: #4164ff;
}
.question.four {
  background-color: #ff41ff;
}
.question.five {
  background-color: #ff5e5e;
}
.question.six {
  background-color: #ff9843;
}
.question.seven {
  background-color: #ffcb5c;
}
.question.eight {
  background-color: #c739ff;
}
.question.nine {
  background-color: #a17070;
}
.question.ten {
  background-color: #46ff5e;
}
.quiz-button {
  background: #5dc8cd;
  box-shadow: 0px 5px 0px 0px #1e8185;
  margin-top: 15px;
  margin-bottom: 5px;
  display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
}
.quiz-button:hover {
  box-shadow: 0px 0px 0px 0px #1e8185;
  margin-top: 15px;
  margin-bottom: 5px;
}

/* LOGIN/SIGNUP + Image post form  */
.signup-form {
  border-radius: 5px;
  background: radial-gradient(#ff922d, #9501c2);
  padding: 2rem;
  margin: auto;
  font-family: var(--font);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.login-form {
  border-radius: 5px;
  background: radial-gradient(#45ff2d, #eeff55);
  padding: 2rem;
  margin: auto;
  font-family: var(--font);
}

.post-form {
  border-radius: 5px;
  background: radial-gradient(#ffbacb, #df007a);
  padding: 2rem;
  margin: auto;
  font-family: var(--font);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  width: 40vw;
}

input[type="file"] {
  background-color: #d5cfd8;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 90%;
  margin: auto;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Alertle head image */
.alertle-head {
  width: 130px;
}

.g-button {
  display: block;
  color: rgb(0, 132, 255);
  /* border: 5px solid rgb(0, 132, 255); */
  /* padding: 12px 20px;
  height: 1rem; */
  border-radius: 10px;
}
.btn {
  cursor: pointer;
  width: 50%;
  height: auto;
  margin: auto;
  font-size: 1rem;
  font-family: var(--font-1);
  /* padding: 12px 20px; */
  color: rgb(0, 132, 255);
}
.fa-google {
  margin: 0.6rem;
}

/* Footer */

footer {
  width: 100vw;
  height: auto;
}
.footer-div {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 100;
  background-color: #097fad;
  width: 100%;
  height: auto;
  margin-top: 8rem;
}

/* change footer colors per page */

.purple {
  background-color: #ff5edc;
}

.orange {
  background-color: #ff7300;
}

.pink {
  background-color: #ff6fab;
}

.blue {
  background-color: #062dad;
}
/* .open {
  display: block;
  /* flex-direction: column; 
} */

/* Media Queries  */

/* Small devices (portrait tablets and large phones, 320px and up) */
@media only screen and (min-width: 300px) and (max-width: 768px) {
  .nav-ul {
    display: none;
  }
  .open {
    display: flex;
    flex-direction: column;
    width: 45vw;
    bottom: 38%;
    height: 62vh;

    position: absolute;
    background-image: linear-gradient(
      rgba(0, 201, 90, 0.404),
      rgba(0, 201, 90, 0.733),
      rgb(0, 151, 151)
    );
    border-radius: 0 0 1rem 0;
  }

  li a {
    font-size: 1.8rem;
    /* -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(0, 44, 27); */
    text-shadow: 2px 5px 2px rgba(16, 117, 84, 0.57);
    font-family: var(--font-2);
    /* border: 1px solid #001763; */
  }
  #canvas3d {
    display: none;
  }
  .mobile-alertle {
    width: 100%;
    height: auto;
    /* margin-top: 6rem; */
  }

  .main-button {
    top: 40%;
  }

  /* login/signup */
  .main-content-div {
    /*flex parent to left + right flex divs*/
    flex-direction: column;
    width: 100%;
  }

  .left-div {
    width: 90vw;
    margin: auto;
  }
  .right-div {
    width: 90vw;
  }

  .post-form {
    width: 85%;
  }

  input[type="file"] {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #canvas3d {
    display: none;
  }
  .mobile-alertle {
    width: 100%;
    height: auto;
  }
  .hamburger-icon {
    display: none;
  }

  .main-button {
    top: 55%;
  }
  /* login/signup */
  .main-content-div {
    /*flex parent to left + right flex divs*/
    width: 90vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  nav ul li {
    display: inline-block;
  }

  /* .main-content-div {
    flex-direction: row;
  } */

  .alertle-logo {
    width: 40vw;
  }

  .hamburger-icon {
    display: none;
  }
  .main-button {
    position: absolute;
    left: 42%;
    top: 29%;
  }
  .mobile-alertle {
    display: none;
  }

  /* wild animal quiz */
  .animal-quiz-div {
    width: 50vw;
  }
  /* login/signup */
  .main-content-div {
    /*flex parent to left + right flex divs*/
    width: 90vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .alertle-logo {
    width: 30vw;
  }

  .left-div img {
    width: 30vw;
    height: auto;
  }

  .mobile-alertle {
    display: none;
  }
  .hamburger-icon {
    display: none;
  }
  .flex {
    width: 60vw;
  }
  /* wild animal quiz */
  .animal-quiz-div {
    width: 50vw;
  }
}
/* GOOGLE MAPS API STYLING */
#map-container {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

#map-container button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  font-size: inherit;
  cursor: pointer;
}

#map {
  position: absolute;
  left: 22em;
  top: 0;
  right: 0;
  bottom: 0;
  /* height: 100%;
  width: 100%; */
}

#locations-panel {
  position: absolute;
  left: 0;
  width: 22em;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background: white;
  padding: 0.5em;
  box-sizing: border-box;
}

@media only screen and (max-width: 876px) {
  #map {
    left: 0;
    bottom: 50%;
  }

  #locations-panel {
    top: 50%;
    right: 0;
    width: unset;
  }
}

#locations-panel-list > header {
  padding: 1.4em 1.4em 0 1.4em;
}

#locations-panel-list h1.search-title {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

#locations-panel-list h1.search-title > img {
  vertical-align: bottom;
  margin-top: -1em;
}

#locations-panel-list .search-input {
  width: 100%;
  margin-top: 0.8em;
  position: relative;
}

#locations-panel-list .search-input input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  height: 2.2em;
  box-sizing: border-box;
  padding: 0 2.5em 0 1em;
  font-size: 1em;
}

#locations-panel-list .search-input-overlay {
  position: absolute;
}

#locations-panel-list .search-input-overlay.search {
  right: 2px;
  top: 2px;
  bottom: 2px;
  width: 2.4em;
}

#locations-panel-list .search-input-overlay.search button {
  width: 100%;
  height: 100%;
  border-radius: 0.2em;
  color: black;
  background: transparent;
}

#locations-panel-list .search-input-overlay.search .icon {
  margin-top: 0.05em;
  vertical-align: top;
}

#locations-panel-list .section-name {
  font-weight: 500;
  font-size: 0.9em;
  margin: 1.8em 0 1em 1.5em;
}

#locations-panel-list .location-result {
  position: relative;
  padding: 0.8em 3.5em 0.8em 1.4em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

#locations-panel-list .location-result:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

#locations-panel-list .location-result:last-of-type {
  border-bottom: none;
}

#locations-panel-list .location-result.selected {
  outline: 2px solid #4285f4;
}

#locations-panel-list button.select-location {
  margin-bottom: 0.6em;
  text-align: left;
}

#locations-panel-list .location-result h2.name {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

#locations-panel-list .location-result .address {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

#locations-panel-list .location-result .distance {
  position: absolute;
  top: 0.9em;
  right: 0;
  text-align: center;
  font-size: 0.9em;
  width: 5em;
}

#location-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
